*{
    margin: 0;
    padding: 0;
}

.overflow-x-hidden{
    overflow-x: hidden;
}
.container{
    width: 90%; margin: auto auto;
    font-family: 'Ubuntu', sans-serif
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}
header{
    display: block;
}

.navbar{
    width: 100%;
    left: 0;
}
.nav_main{

    background-color: #222c59;


}
.nav_main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Logo_name{
    height: 40px;
    font-family: 'Lobster', cursive;
    font-size:x-large;
    padding-left: 10px;
}
.Logo_name a{
    color: white;
    text-decoration: none;
}
.nav_main_ul{
    display: flex;
    list-style: none;
}
.nav_main_ul li{
    margin: 0 12px;

}
.nav_main_ul li a{
    color: white;
    text-decoration: none;

}
.nav_sub_container{
    display: flex;
    justify-content: center;
}
.nav_sub_ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.nav_sub_ul li{
    margin: 0 12px;
    padding: 5px 50px;
}
.nav_sub_ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}
#slider {
    position: relative; /* set to relative */
    overflow: hidden;
    height: 400px;
  }
  



#slider figure{
    position: relative;
    width: 300%; /* set to 300% */
    margin: 0;
    left: 0;
    animation: 20s slider infinite; /* reduce the animation time */
}

#slider figure img{
    width: 33.333%; /* set to 33.333% to fit 3 slides in the container */
    float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	33.33% { /* change from 25% to 33.33% */
		left: 0;
	}
	37.5% { /* change from 50% to 37.5% */
		left: -100%;
	}
	70.83% { /* change from 75% to 70.83% */
		left: -100%;
	}
	75% {
		left: -200%;
	}
	100% {
		left: -200%; /* change from -400% to -200% */
	}
}


.slider_image{
  height: 400px;
}


  
  #dots {
    display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 50.5%;
  transform: translateX(-50%);
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 10px;
    cursor: pointer;
    transition: transform 4s linear;
    /*transition-delay: 1s;*/
  }

  @keyframes transform {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  .dot.active {
    background-color: #555;
  }
  
  
  
  .search-container {
    position: absolute;
    bottom: 88px;
    left: 45.5%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  
  
  .city-dropdown {
    position: absolute;
    top: 20px;
    left: -133px;
    float: left;
    
    
  }
  .city-dropdown select{
    border-radius: 20px 0 0 20px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border: none;
  }
  
  .search-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }
  
  .search-box input[type="text"],
.search-box button {
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  background-color: #fff;
}

.search-box input[type="text"] {
  width: 250px;
  /*border-radius: 20px 0 0 20px;*/
}

.search-box button {
  border-radius: 0 20px 20px 0;
  background-color: #333;
  color: #fff;
}
.box{
    margin-right: 12px;
    min-width: 19vw;
    text-align: center;
    border-radius: 8px;
    height: 250.75px;
}
/*.box:hover{
  animation-name: card-animation;
animation-duration: 200ms;
animation-fill-mode: forwards;
}
@keyframes card-animation {
  100%{
    width: 300px;
  }
}
*/
.headline{
  display: flex;
  position: absolute;
    bottom: 14px;
    left: 45%;
    color: white;
    z-index: 1;
    width: 800px;
  height: 189px;
  font-size: 40px;
  left: 380px;
  right: 400px;
  align-items: center;
  flex-flow: column;
}
.head_logo{
  position: absolute;
    bottom: 211px;
    left: 45%;
    color: white;
    z-index: 1;
}
.head_logo img{
  width: 150px;
}
.suggestion {
  position: absolute;
  left: 0;
  width: 100%;
  top: 773px;
  height: 300px;
  text-align: center;
  color: #222c59;
  font-size:x-large;
}
.bg-icon{
  object-fit: cover;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 300px;
}
.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: large;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 64.5px;
  width: 100%;
}
.image-4-icon {
  top: 0;
  left: 866.91px;
  border-radius: 20px;
  width: 100%;
  height: 184.75px;
  object-fit: cover;
  vertical-align: baseline;
  
}
.suggestion1 {
  position: absolute;
  top: 64.5px;
  width: 100%;
  top: 8px;
  left: 644px;
  font-size: xx-large;
  display: inline-block;
  width: 244px;
  height: 33px;
}
.aboutsection{
  position: absolute;
  width: 100%;
  top: 473px;
  height: 300px;
}
.read-more-button-parent {
  position: absolute;
  top: 80.1px;
  left: 192px;
  width: 933.09px;
  height: 223.54px;
}
.property-owner {
  position: absolute;
  top: 0px;
  left: 525px;
  height: 87px;
  font-size: var(--font-size-6xl);
  width: auto;
}
.post-property-ad {
  position: absolute;
  top: 32px;
  left: 0px;
  text-decoration: underline;
  width: 162px;
  background-color: #222c59;
  text-align: center;
  height: 25px;
  font-size: large;
  color: white;
}
.property-owner-child {
  position: absolute;
  top: 8px;
  left: 36px;
  background-color: var(--color-darkslateblue-100);
  width: 254px;
  height: 90px;
  
}
.bg-icon1{
  top:0;
  height: 300px;
  position: absolute;
  left:0;
  width: 100%;
}
.are-you-a{
  position: absolute;
  width: 335px;
  top:0;
  left: 0;
  text-decoration: underline;
  display: inline-block;
  color: #fb380e;
  height: 40px;
  font-size: large;
}
.happy2home{
  position: absolute;
  display: inline-block;
  top:0;
  left: 462.9px;
  font-size: x-large;
  color:#222c59;
  text-align: center;
  width: 315.64px;
  height: 29.4px;
 
}
.read-more{
  position: absolute;
  top:-19px;
  left: 0px;
  text-decoration: underline;
  display: inline-block;
  width: 100px;
  height: 24px;
  text-align: center;
  color: white;
  background-color: #222c59;
  font-size: large;
}
.image-1-icon2{
  position: absolute;
  top: 0;
  left: 0;
  width: 309.09px;
  height: 219.41px;
}
.image{
  position:absolute;
  top:-27.5px;
  left:0;
  width:309.09px;
  height: 219.41px;
}
.footer-section2{
  position: absolute;
  top: 1072px;
  left: 0;
  width: 100%;
  height: 305px;
  background-color: #5c4033;
}
.contact-details{
  position: absolute;
  top: 161px;
  left: 1068px;
  width: 355.89px;
  height: 141.67px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fffefe;
  
}
.footer_logo{
  position: absolute;
    bottom: 138px;
    left: 73%;
    color: white;
    z-index: 1;
}
.vector-icon21 {
  height: 23.94%;
  width: 75.68%;
}

.b4{
  position: relative;
  left: -91px;
}
.sitemap {
  position: absolute;
  top: 30px;
  left: 623px;
  width: 193px;
  height: 257px;
  font-size: var(--font-size-xs);
  text-align:justify;
  display: flex;
  flex-direction: column;
  color: #fffefe;
  justify-content: space-between;
 
}
.sitemap1 {
  
  display: inline-block;
  top: 0;
  left: 0;
  font-size: 30px;
  

}
.our-pages{
  display: inline-block;
  top: 44px;
  left: 9px;
  font-size: 15px;
  width: 117px;
  height: 34px;
  
}
.copyright {
  position: absolute;
  left: 0;
  top: 305px;
  background-color: black;
  width: 100%;
  height: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.copyright-2023-all {
  color: white;
  top: 11px;
  left: 466px;
  font-size: large;
  display: inline-block;
}
.contactus{
  position: absolute;
  top: 30px;
  left: 0;
  font-family: var(--font-inter);
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}
.contactus2{
  font-size: 30px;
}
.send-us-a-{
  font-size: medium;
}